<a href="https://colab.research.google.com/github/ejrtks1020/Bigdata_Analysis_Certification/blob/main/T1_14_2%EA%B0%9C_%EC%A1%B0%EA%B1%B4%EC%97%90_%EB%94%B0%EB%A5%B8_%EC%83%81%EC%9C%84_%EA%B0%92_Expected_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

city와 f4를 기준으로 f5의 평균값을 구한 다음, f5를 기준으로 상위 7개 값을 모두 더해 출력하시오 (소수점 둘째자리까지 출력)

In [ ]:
import pandas as pd

df = pd.read_csv('basic1.csv')

In [ ]:
df.groupby(['city', 'f4'])[['f5']].mean().sort_values(by = 'f5' , ascending = False)[:7].sum()

f5    643.681336
dtype: float64

In [ ]:
df = df.groupby(['city', 'f4'])[['f5']].mean()

In [ ]:
df

                  f5
city f4
경기   ENTJ  51.693799
     ENTP  54.704075
     ESFJ  97.381034
     ESFP  53.187491
     ESTJ  79.487043
     ESTP  34.022130
     INFJ  80.138280
     INFP  90.531801
     INTJ  80.388795
     INTP  55.887974
     ISFJ  64.468233
     ISFP  69.108148
     ISTP  48.431184
대구   ENFJ  39.964658
     ENFP  32.574085
     ENTP  13.049921
     ESFJ  20.129444
     ESTJ  77.323257
     ESTP  28.915814
     INTP  26.698797
     ISFJ  59.883434
     ISTJ  83.685380
     ISTP  29.269869
부산   ENFJ  17.252986
     ENFP  68.176229
     ENTP  74.012327
     ESFJ  73.586397
     ESTJ  25.280992
     ESTP  62.730150
     INFJ  53.447698
     INFP  48.431184
     INTP  13.049921
     ISFJ  13.049921
     ISFP  29.269869
     ISTP  69.730313
서울   ENFJ  75.818808
     ENFP  98.429899
     ENTJ  67.886373
     ENTP   9.796378
     ESFJ  50.469183
     ESFP  16.283854
     ESTP  91.297791
     INFJ  83.685380
     INFP  52.667078
     INTJ  91.297791
     INTP  20.129444
     ISFJ  39.734842
     ISFP  91.057640
     ISTJ  17.252986
     ISTP  67.886373

In [ ]:
df.reset_index()

   city    f4         f5
0    경기  ENTJ  51.693799
1    경기  ENTP  54.704075
2    경기  ESFJ  97.381034
3    경기  ESFP  53.187491
4    경기  ESTJ  79.487043
5    경기  ESTP  34.022130
6    경기  INFJ  80.138280
7    경기  INFP  90.531801
8    경기  INTJ  80.388795
9    경기  INTP  55.887974
10   경기  ISFJ  64.468233
11   경기  ISFP  69.108148
12   경기  ISTP  48.431184
13   대구  ENFJ  39.964658
14   대구  ENFP  32.574085
15   대구  ENTP  13.049921
16   대구  ESFJ  20.129444
17   대구  ESTJ  77.323257
18   대구  ESTP  28.915814
19   대구  INTP  26.698797
20   대구  ISFJ  59.883434
21   대구  ISTJ  83.685380
22   대구  ISTP  29.269869
23   부산  ENFJ  17.252986
24   부산  ENFP  68.176229
25   부산  ENTP  74.012327
26   부산  ESFJ  73.586397
27   부산  ESTJ  25.280992
28   부산  ESTP  62.730150
29   부산  INFJ  53.447698
30   부산  INFP  48.431184
31   부산  INTP  13.049921
32   부산  ISFJ  13.049921
33   부산  ISFP  29.269869
34   부산  ISTP  69.730313
35   서울  ENFJ  75.818808
36   서울  ENFP  98.429899
37   서울  ENTJ  67.886373
38   서울  ENTP   9.796378
39   서울  ESFJ  50.469183
40   서울  ESFP  16.283854
41   서울  ESTP  91.297791
42   서울  INFJ  83.685380
43   서울  INFP  52.667078
44   서울  INTJ  91.297791
45   서울  INTP  20.129444
46   서울  ISFJ  39.734842
47   서울  ISFP  91.057640
48   서울  ISTJ  17.252986
49   서울  ISTP  67.886373

In [ ]:
round(df.sort_values(by = 'f5', ascending = False).head(7).sum(), 2)

f5    643.68
dtype: float64